:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p, pre, h1, h2 {
  margin: 0;
  color: rgb(10, 4, 40);
  font-weight: 800;
}

#hero {
  height: 100vh;
  width: 100%;

  background-image: url("./assets/background.jpg");

  background-size: cover;        
  background-position: 100px;   
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

 /* .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}*/

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 12.3%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 8%;
  z-index: 1000;

  background: rgba(10, 10, 10, 0.4);
  backdrop-filter: blur(12px);

  margin-top: 8px;
  margin-left: 8%;

  overflow: hidden;
}

.navbar:hover {
  width: 100%;
  height: 15%;
  margin: 0px 0px 0px 0px;

  #bruh {
    height: 82.6px;
  }
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: rgb(142, 27, 180);
  font-family: 'Gill Sans MT', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding: 6px 0;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;

  background: #00d9ff;
  transform: scaleX(0);
  transform-origin: right;

  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links a {
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #00d9ff;
  transform: translateY(-2px);
}

@media (max-width: 768px) {

  .menu-toggle {
      display: block;
  }

  .nav-links {
      position: absolute;
      top: 70px;
      right: -100%;

      flex-direction: column;
      gap: 20px;

      background: rgba(0,0,0,0.9);
      padding: 20px;
      width: 200px;

      transition: right 0.3s ease;
  }

  .nav-links.active {
      right: 8%;
  }
}

@keyframes fade-on-scroll {
  from {
    opacity: 1;
    width: 40%;
    height: 50%;
  }
  to {
    opacity: 0;
    width: 8%;
    height: 10%;
  }
}

.fade-element {
  top: 20px;
  
  animation: fade-on-scroll linear forwards;
  animation-timeline: scroll(root block);
}

* {
  box-sizing: border-box;
  outline: none;
}

body, div, main, section, .content-wrapper, #wrapper {
  border-left: none !important;
  border-right: none !important;
}

body::before, body::after {
  display: none !important;
  content: none !important;
}

@media all and (display-mode: fullscreen) {
  #bruh {
    height: 88.2px;
  }

  .navbar:hover {
    #bruh {
      height: 108px;
    }
  }

  .nav-links a {
    font-size: 20px;
  }
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  position: relative; 
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-links a:hover {
  transform: translateY(-2px);
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

body:not(.dark-mode) .nav-links a {
  color: #00d9ff; 
}

body:not(.dark-mode) .nav-links a:hover {
  color: rgb(142, 27, 180);
}

body:not(.dark-mode) .nav-links a::after {
  background-color: #b345d4;
}

body.dark-mode .nav-links a {
  color: #b345d4;
}

body.dark-mode .nav-links a:hover {
  color: turquoise;
}

body.dark-mode .nav-links a::after {
  background-color: #00d9ff; 
}